
        /* 设置整个页面的背景颜色 */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            background-image: linear-gradient(to right, #fbc2eb, #a6c1ee);
        }

        /* 使用Flexbox布局将内容居中 */
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        /* 添加样式以将音乐播放器放在底部居中位置 */
        audio {
            position: fixed;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
