/* 设置整个页面的背景颜色 */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #fbc2eb, #a6c1ee);
}

#todo-form {
    margin-bottom: 20px;
    text-align: center;
}

#todo-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
    /* 调整列表文本居左 */
}

.todo-item {
    margin: 10px 0;
}

.todo-item button {
    margin-left: 10px;
}